<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lukasz.witkowski.training.planner">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.type.watch" />


    <queries>
        <package android:name="com.google.android.wearable.healthservices" />
    </queries>

    <application
        android:name=".TrainingPlannerWearableApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_launcher"
        android:roundIcon="@mipmap/ic_logo_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">

        <service
            android:name="com.lukasz.witkowski.training.planner.ui.currentTraining.WearableTrainingService"
            android:exported="false" />
        <activity
            android:name="com.lukasz.witkowski.training.planner.ui.summary.TrainingSummaryActivity"
            android:exported="false" />
        <activity
            android:name="com.lukasz.witkowski.training.planner.ui.currentTraining.CurrentTrainingActivity"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name="com.lukasz.witkowski.training.planner.ui.startTraining.StartTrainingActivity"
            android:exported="false"
            android:noHistory="true" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.lukasz.witkowski.training.planner.training.trainingsList.TrainingsListActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SendingStatisticsService"
            android:exported="false" />

        <service
            android:name=".service.TrainingDataReceiverService"
            android:exported="true">
            <intent-filter>
                <!-- listeners receive events that match the action and data filters -->
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />
                <data
                    android:host="*"
                    android:pathPrefix="/training"
                    android:scheme="wear" />
            </intent-filter>
        </service>
    </application>

</manifest>