<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lukasz.witkowski.training.planner">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".TrainingPlannerApplication"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrainingPlanner">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TrainingPlanner.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.SendingTrainingsService"
            android:exported="false" />
        <service
            android:name=".service.PhoneTrainingService"
            android:exported="false" />
        <service
            android:name=".service.StatisticsDataReceiverService"
            android:exported="true">
            <intent-filter>
                <!-- listeners receive events that match the action and data filters -->
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />
                <data
                    android:host="*"
                    android:pathPrefix="/statistics"
                    android:scheme="wear" />
            </intent-filter>
        </service>
    </application>

</manifest>